{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
    <style>
        ul li {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Bibliografia</h2>
    
    <ul>

    <li>M. Acierno, D. Fiorani, <b>Conservation Process Model. An ontology for conservation in
    architecture</b>, SUE, Roma, SUE, Roma 2025</li>

    <li>E. Moraitou, J. Aliprantis, Y. Christodoulou, A. Teneketzis, G. Caridakis, <b>Semantic Bridging
    of Cultural Heritage Disciplines and Tasks, in «Heritage»</b>, 2019, 2, pp. 611-630</li>

    <li>M. Acierno, S. Cursi, D. Simeone, D. Fiorani, <b>Architectural Heritage Knowledge
    Modelling: an Ontology-Based Framework for Conservation Process, in «Journal of
    Cultural Heritage»</b>, 2017, 24C, pp. 124-133</li>

    <li>M. Doerr, <b>Ontologies for Cultural Heritage</b>. Handbook on ontologies, Springer, Berlin 2009</li>

    <li>M. Doerr, <b>The CIDOC Conceptual Reference Module: An Ontological Approach to
    Semantic Interoperability of Metadata</b>, in «AI Magazine», Special Issue, 24, 2003, 3, pp.
    75-92</li>

    <li>B. Smith, <b>Ontology in L. Floridi (a cura di) Blackwell Guide to the Philosophy of Computing and Information</b>, Oxford, Blackwell, 2003, pp. 155–166</li>

    <li>N. Guarino, <b>Formal Ontology and Information Systems</b>, in N. Guarino (ed), Frontiers in
    Artificial Intelligence and Applications, Proceedings of the first international conference
    FOIS’98 (Trento, 1998 June 6-8), IOS Press, Amsterdam 1998, pp. 3-15</li>

    <li>T. R. Gruber, <b>Toward Principles for the Design of Ontologies used for Knowledge Sharing,
    in «International Journal of Human Computer Studies»</b>, 43, 1995, pp. 907-928</li>

    </ul>

{% endblock %}