{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
{% endblock %}

{% block content %}
    
    <h2>Contenuti</h2>

    <p style="margin-top:20px; line-height:2.0;">
    <b>HD-LSD (Heritage & Diagnostics – Linked Semantic Data)</b> è uno strumento di raccolta e gestione dei dati diagnostici nel settore dei beni culturali, negli ambiti architettonici, archeologici, storico-
    artistici e ambientali.<br/>
    La consultazione consente di porre domande sull'interpretazione dei dati, fornendo flussi di lavoro e best practice sia per le attività sul campo che per quelle di laboratorio e
    offrendo una documentazione che va dal livello macroscopico fino alla scala microscopica, esplorando tecniche di caratterizzazione dei materiali, di analisi della produzione, di identificazione
    del degrado, di datazione e di ricostruzione del paleoambiente e delle pratiche di coltivazione.
    </p>

{% endblock %}