{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
{% endblock %}

{% block content %}
    <h2>Partecipanti</h2>
    <p style="margin-top:20px; line-height:2.0;">
HD-LSD è un prodotto del progetto nazionale di ricerca PE5 CHANGES PNRR, Spoke 5. 
Rientra nelle attività del WP6 "Cross-disciplinary interpretation of data from 
novel diagnostics and definition of multi-method protocols for the study of 
Cultural Heritage”, composto da un team interdisciplinare di 
Sapienza Università di Roma che coinvolge quattro dipartimenti: 
<ul>
    <li>Dipartimento di Storia, Disegno e Restauro dell'Architettura (Donatella Fiorani, Chiara Porrovecchio, Silvia Cigognetti, Alessia Vaccariello)</li>
    <li>Dipartimento di Scienze dell'Antichità (Cristina Lemorini, Giulia Previti)</li>
    <li>Dipartimento di Scienze della Terra (Laura Medeghini, Melania Di Fazio)</li>
    <li>Dipartimento di Biologia Ambientale (Alessia Masi, Laura Sadori, Mauro Iberite, Eleonora Cerafogli)</li>
</ul>
</p>

{% endblock %}