{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
{% endblock %}

{% block content %}

    <h2>Finalità</h2>

    <p style="margin-top:20px; line-height:2.0;">
    La principale finalità di HD-LSD risiede nel superamento dell'interpretazione settoriale di dati, aprendo a una lettura interdisciplinare della diagnostica per i beni culturali e facilitando la ricerca e la comprensione dei flussi di lavoro nei diversi ambiti, integrando le conoscenze per una migliore accessibilità da parte della comunità scientifica.
    </p>

{% endblock %}