{% set showSidebar = true %}
{% extends "../base.twig" %}

{% block extendHead %}
{% endblock %}

{% block content %}
    <h2>Riferimenti</h2>

    <a href="https://www.cidoc-crm.org/">
        https://www.cidoc-crm.org/
    </a>

{% endblock %}