{% extends "/v2/layout.twig" %}

{% block content %}

<div class="container my-4">

  <h2>Indagine</h2>
  
  <h2 class="d-flex justify-content-between align-items-center">
  <span>Indagine</span>

  <button id="btn-edit"
          class="btn btn-primary btn-sm">
    <i class="fa-solid fa-pen"></i> Modifica
  </button>
</h2>

  <div id="shacl-container"
       style="margin-top:10px;
              border: solid 1px #ccc;
              padding:15px;
              border-radius:6px;">

    <shacl-form
      id="shacl-form"
      data-collapse="open"
      data-readonly="true"
      data-values-namespace="indagine:"
      data-node-iri="indagine:{{ uuid }}"
      data-shapes-url="/backend/ontology/schema/view"
    ></shacl-form>

  </div>

</div>

<script>
  document.getElementById('btn-edit')?.addEventListener('click', function () {
    const form = document.getElementById('shacl-form');
    if (!form) return;

    // rimuove readonly → entra in editing
    form.removeAttribute('data-readonly');

    // feedback UI
    this.disabled = true;
    this.innerHTML = '<i class="fa-solid fa-lock-open"></i> Modifica attiva';
  });
</script>


{% endblock %}
