{% extends "v2/layout.twig" %}

{% block content %}
  <div class="system-page">
    <h1>Ricerca</h1>
    <p>Funzioni di ricerca SPARQL:</p>
<ul>
  <li><strong>Veloce</strong>: solo per specifici oggetti predefiniti</li>
  <li><strong>Avanzata</strong>: per tutti gli oggetti</li>
</ul>
  </div>
{% endblock %}