<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ t('welcome') ~ ': ' ~ title }}</title>
    <link rel="stylesheet" href="/{{ root }}/css/style.css">
    {% block extendHead %}{% endblock %}
</head>
<body>
    {% include 'header.twig' %}
    
    <div class="container">
        
        {% if showSidebar %}
          <aside class="sidebar">
              {% block sidebar %}
              {% endblock %}
          </aside>
        {% endif %}

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    
    {% include 'footer.twig' %}
</body>
</html>