<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/{{ root }}/css/style.css">
</head>
<body>
  <h1>{{ message }}</h1>
  <h2>{{ t('welcome') }}</h2>
</body>
</html>