<nav class="sidebar-nav">

  <div class="sidebar-title-only">
    Amministrazione
  </div>

  <a href="/frontend/v2/users/manage"
     class="{% if activeSidebarItem == 'users' %}active{% endif %}">
    Utenti
  </a>

  <a href="/frontend/v2/vocabolaries/manage"
     class="{% if activeSidebarItem == 'vocabolaries' %}active{% endif %}">
    Vocabolari
  </a>


</nav>
