<aside class="sidebar"
       id="sidebar-investigation">

  <nav class="sidebar-nav">

    <a
       :class="{ active: activeItem === 'investigation' }">
       Indagine
    </a>
      </nav>
</aside>
