<nav class="sidebar-nav"
     id="sidebar-investigation"
     aria-label="{{ t('sidebar.indagine')|default('Menu indagine') }}">

  <span class="sidebar-nav-item sidebar-current"
        :class="{ active: activeItem === 'investigation' }"
        :aria-current="activeItem === 'investigation' ? 'page' : null">
    {{ t('sidebar.indagine')|default('Indagine') }}
  </span>

</nav>
