<aside class="sidebar"
       id="sidebar-presentazione">

  <nav class="sidebar-nav">

    <a href="/frontend/v2/sistema"
       :class="{ active: activeItem === 'sistema' }">
       Il sistema
    </a>

    <a href="/frontend/v2/finalita"
       :class="{ active: activeItem === 'finalita' }">
       Finalità
    </a>

    <a href="/frontend/v2/partecipanti"
       :class="{ active: activeItem === 'partecipanti' }">
       Partecipanti
    </a>

    <a href="/frontend/v2/bibliografia"
       :class="{ active: activeItem === 'bibliografia' }">
       Riferimenti e Bibliografia
    </a>

    <a href="/frontend/v2/modelli"
       :class="{ active: activeItem === 'modelli' }">
       Modelli Utilizzati
    </a>

    <a href="/frontend/v2/crediti"
       :class="{ active: activeItem === 'crediti' }">
       Crediti
    </a>

    <a href="/frontend/v2/contatti"
       :class="{ active: activeItem === 'contatti' }">
       Contatti
    </a>

  </nav>
</aside>
