<footer class="footer-bar">
    <div class="footer-logos">
        <img src="/{{ root }}/assets/img/sapienza.png" alt="Sapienza">
        <img src="/{{ root }}/assets/img/partner1.png" alt="Partner">
        <img src="/{{ root }}/assets/img/partner2.png" alt="Partner">
    </div>
</footer>
