<footer class="footer-bar">
  <div class="footer-logos">

    <img src="/frontend/v2/images/sapienza.png"
        class="logo-sapienza
        alt="Sapienza Università di Roma">

    <span class="footer-separator"></span>

    <img src="/frontend/v2/images/eu.png"
         alt="Finanziato dall'Unione Europea">

    <span class="footer-separator"></span>

    <img src="/frontend/v2/images/miur.png"
         alt="Ministero dell'Università e della Ricerca">

    <span class="footer-separator"></span>

    <img src="/frontend/v2/images/italiadomani.png"
         alt="Italia Domani – PNRR">

    <span class="footer-separator"></span>

    <img src="/frontend/v2/images/changes.png"
         alt="Fondazione CHANGESS">

  </div>
</footer>

