<header class="header-wrapper" id="top-menu">

  {# RIGA 1 #}
  <div class="header-logo">
    <a href="/frontend/v2/presentazione/sistema" class="logo">HD-LSD</a>
  </div>

  <div class="header-banner"></div>

  {# RIGA 2 #}
  <div class="header-spacer"></div>

  <div class="header-menu">

    <nav class="topbar-center">
      <a href="/frontend/v2/introduction"
         :class="{ active: activeMenu === 'introduction' }">
        Presentazione
      </a>

      <a href="/frontend/v2/investigation/form"
         :class="{ active: activeMenu === 'investigation' }">
        Indagine
      </a>

      <a href="/frontend/v2/search/fast/1"
         :class="{ active: activeMenu === 'search' }">
        Ricerca
      </a>
    </nav>

    <div class="topbar-right">
      {% if user is defined %}
        <span class="user-name">{{ user.name|default('') }}</span>
        <a href="/frontend/">Logout</a>
      {% endif %}
    </div>


  </div>

</header>
