{% extends 'v2/layout.twig' %}


{% block content %}

<section class="system-page">

  {# TITOLO #}
  <header class="system-header">
    <h1>Contatti</h1>
  </header>

    <p class="intro-text">
        <p>
  Per informazioni e contatti, è possibile inviare un’email all’indirizzo
 <a href="mailto:hdlsd.info@gmail.com?subject=Richiesta%20informazioni">
  hdlsd.info@gmail.com
</a>

  </p>
  </p>



</section>

{% endblock %}
