{% extends 'v2/layout.twig' %}


{% block content %}

<section class="system-page">

  {# TITOLO #}
  <header class="system-header">
    <h1>Contatti</h1>
  </header>

    <p class="intro-text">
    Contatti
  </p>



</section>

{% endblock %}
