{% extends 'v2/layout.twig' %}

{% block content %}

<section class="system-page">

  <header class="system-header">
    <h1>{{ t('introduzione.contatti.title') }}</h1>
  </header>

  <p class="intro-text">
    {{ t('introduzione.contatti.intro') }}
    <a href="mailto:hd-lsd.dsdra@uniroma1.it?subject={{ t('introduzione.contatti.email_subject')|url_encode }}">
      hd-lsd.dsdra@uniroma1.it
    </a>
  </p>

</section>

{% endblock %}
