{% extends 'v2/layout.twig' %}

{% block content %}

<section class="system-page">

  {# TITOLO #}
  <header class="system-header">
    <h1>Crediti</h1>
  </header>

    <p class="intro-text">
    Crediti
  </p>



</section>

{% endblock %}
