{% extends 'v2/layout.twig' %}



{% block content %}

<section class="system-page">

  {# TITOLO #}
  <header class="system-header">
    <h1>Partecipanti</h1>
  </header>

    <p class="intro-text">
    HD-LSD è un prodotto del progetto nazionale di ricerca PE5 CHANGES PNRR, Spoke 5.
    Rientra nelle attività del WP6 "Cross-disciplinary interpretation of data from
    novel diagnostics and definition of multi-method protocols for the study of
    Cultural Heritage”, composto da un team interdisciplinare di
    Sapienza Università di Roma che coinvolge quattro dipartimenti:
  </p>

  <ul class="department-banners">
    <li class="department-banner banner-sdara">
      <span>Dipartimento di Storia, Disegno e Restauro dell'Architettura</span>
    </li>
    <li class="department-banner banner-antichita">
      <span>Dipartimento di Scienze dell'Antichità</span>
    </li>
    <li class="department-banner banner-terra">
      <span>Dipartimento di Scienze della Terra</span>
    </li>
    <li class="department-banner banner-biologia">
      <span>Dipartimento di Biologia Ambientale</span>
    </li>
  </ul>


</section>

{% endblock %}
