{% extends 'v2/layout.twig' %}



{% block content %}

<section class="system-page">

  {# TITOLO #}
  <header class="system-header">
    <h1>Partecipanti</h1>
  </header>

    <p class="intro-text">
    HD-LSD è un prodotto del progetto nazionale di ricerca PE5 CHANGES PNRR, Spoke 5.
    Rientra nelle attività del WP6 "Cross-disciplinary interpretation of data from
    novel diagnostics and definition of multi-method protocols for the study of
    Cultural Heritage”, composto da un team interdisciplinare di
    Sapienza Università di Roma che coinvolge quattro dipartimenti:
  </p>

  <ul class="department-banners">

  <li class="department-banner banner-sdara">
    <div class="department-overlay">
      <div class="department-name">
        Dipartimento di Storia, Disegno e Restauro dell'Architettura
      </div>
      <div class="department-people">
        Donatella Fiorani · Chiara Porrovecchio  · Silvia Cigognetti
      </div>
    </div>
  </li>

    <li class="department-banner banner-antichita">
    <div class="department-overlay">
      <div class="department-name">
        Dipartimento di Scienze dell'Antichità
      </div>
      <div class="department-people">
        Cristina Lemorini · Giulia Previti
      </div>
    </div>
  </li>

      <li class="department-banner banner-terra">
    <div class="department-overlay">
      <div class="department-name">
        Dipartimento di Scienze della Terra
      </div>
      <div class="department-people">
        Laura Medeghini · Melania Di Fazio
      </div>
    </div>
  </li>

      <li class="department-banner banner-biologia">
    <div class="department-overlay">
      <div class="department-name">
        Dipartimento di Biologia Ambientale
      </div>
      <div class="department-people">
        Mauro Iberite · Laura Sadori · Alessia Masi · Eleonora Creafogli
      </div>
    </div>
  </li>

  </ul>


</section>

{% endblock %}
