{% extends "v2/layout.twig" %}

{% block content %}
  <div class="system-page">
    <h1>Amministrazione</h1>
    <p> Funzioni di amministrazione per la gestione degli utenti ed aggiornamento dei vocabolari.</p>
  </div>
{% endblock %}
