{% extends "v2/layout.twig" %}

{% block content %}

<div class="system-page">

    <header class="system-header">
        <h1>{{ t('admin.manage.title') }}</h1>

        <p>
            {{ t('admin.manage.description') }}
        </p>
    </header>

</div>

{% endblock %}
